{% extends "base.html" %}

{% block content %}
<div class="plot-container">
  {% if graphJSON %}
  <div id="plotly-chart"></div>
  {% else %}
  <div class="alert alert-info" role="alert">
    Please enter ticker symbols and click "Analyze" to view the analytics.
  </div>
  {% endif %}
</div>
{% endblock %}

{% block scripts %}
{% if graphJSON %}
<script>
  // This script is executed after all external scripts are loaded.
  var figure = {{ graphJSON | safe }};
  Plotly.newPlot("plotly-chart", figure.data, figure.layout);
</script>
{% endif %}
{% endblock %}
